body {
    background-color: rgb(111, 0, 255);
    font-family: Courier New, monospace;
    color: rgb(255, 255, 255);
    padding: 20px
  }

button {
  margin-right: 10px;
  margin-top: 20px;
  line-height: 100%;
  padding: 10px;
  background: rgb(255, 255, 255);
  border: none;
  border-radius: 8px;
}
button:hover {
  background: rgb(208, 173, 255);
}
  
h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

#beanCounter {
  color:rgb(255, 242, 67);
  font-size: larger;
  margin: 0;
}

#inventory {
  color:rgb(255, 242, 67);
  font-size: small;
  margin: 0;
}