body {
    background-color: rgb(111, 0, 255);
    font-family: Arial, Helvetica, sans-serif;
  }
  
  h1 {
    color: rgb(255, 255, 255);
    text-align: center;
  }

  h2 {
    color: rgb(255, 255, 255);
    text-align: center;
  }