body {
    background-color: rgb(111, 0, 255);
    font-family: Courier New, monospace;
    color: rgb(255, 255, 255);
    padding: 20px
  }

button {
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  line-height: 15px;
  padding: 10px;
  background: rgb(255, 255, 255);
  border: none;
  border-radius: 8px;
  width: 175px;
  font-family: Courier New, monospace;
  font-size: 12pt;
}
button:hover {
  background: rgb(208, 173, 255);
}
  
h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

#beanCounter {
  color:rgb(255, 242, 67);
  font-size: 14pt;
  margin: 0;
}

#beansPlantedCounter {
  color:rgb(255, 242, 67);
  font-size: 12pt;
  margin: 0;
}

#waterCounter {
  color:rgb(255, 242, 67);
  font-size: 12pt;
  margin: 0;
}

#beanPlantsCounter {
  color:rgb(255, 242, 67);
  font-size: 12pt;
  margin: 0;
}